File: 6.3_Medeiros_Midterm_NYC_Airbnb.ipynb  
Name: Corinne Medeiros  
Date: 01/19/20  
Course: DSC 540 Data Preparation  
Desc: 6.3 Midterm Project - New York City Airbnb Data  
Usage: Program reads, cleans, formats, and investigates data from NYC Airbnb csv file.

## Midterm Project  
#### New York City Airbnb Data from <https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data>

In [3]:
import csv

import pandas as pd

import numpy as np

from fuzzywuzzy import fuzz

import datetime

In [4]:
# Importing csv file, converting 'last_review' column to datetime
nyc_airbnb_df = pd.read_csv("AB_NYC_2019.csv", parse_dates=['last_review'])

In [5]:
# Previewing data
nyc_airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [6]:
# Summary of dataframe
print(nyc_airbnb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null datetime64[ns]
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB
None

### Replacing Headers

In this dataset, the headers are very readable, so I decided to replace them with capitalized versions for practice and demonstration purposes.  

First, I copied the header names from the original csv file into a new csv file with their corresponding new headers.

In [7]:
from csv import reader

data_rdr = reader(open('AB_NYC_2019.csv', 'rt'))
header_rdr = reader(open('AB_NYC_2019_headers.csv', 'rt'))

# Creating list from each row of file imported into data_rdr
data_rows = [d for d in data_rdr]

# Creating list from each row of file imported into header_rdr,
# except when first item of header_rdr does not exist within data_rows headers.
header_rows = [h for h in header_rdr if h[0] in data_rows[0]] 

# Creating list of old headers
old_headers = [h[0] for h in header_rows]

skip_index = []
final_header_rows = []

# Creating list of indexes for rows in which header from data_rows is not in old_headers.
# Also creating a list of header rows in the correct order.
for header in data_rows[0]:
    if header not in old_headers:
        index = data_rows[0].index(header)
        skip_index.append(index) 
    else:
        for head in header_rows: 
            if head[0] == header:
                final_header_rows.append(head) 
                break
                
new_data = []

# Creating ordered list of data to match up with each item in final_header_rows list.
# Skipping rows in skip_index list.
for row in data_rows[1:]:
    new_row = []
    for i, d in enumerate(row): 
        if i not in skip_index:
            new_row.append(d)
    new_data.append(new_row)

zipped_data = []

# Putting new_data and final_header_rows into tuples.
# Each row includes all corresponding data with headers.
for drow in new_data:
    zipped_data.append(list(zip(final_header_rows, drow)))
    
zipped_data[0]

[(['id', 'ID'], '2539'),
 (['name', 'NAME'], 'Clean & quiet apt home by the park'),
 (['host_id', 'HOST_ID'], '2787'),
 (['host_name', 'HOST_NAME'], 'John'),
 (['neighbourhood_group', 'NEIGHBORHOOD_GROUP'], 'Brooklyn'),
 (['neighbourhood', 'NEIGHBORHOOD'], 'Kensington'),
 (['latitude', 'LATITUDE'], '40.64749'),
 (['longitude', 'LONGITUDE'], '-73.97237'),
 (['room_type', 'ROOM_TYPE'], 'Private room'),
 (['price', 'PRICE'], '149'),
 (['minimum_nights', 'MINIMUM_NIGHTS'], '1'),
 (['number_of_reviews', 'NUMBER_OF_REVIEWS'], '9'),
 (['last_review', 'LAST_REVIEW'], '2018-10-19'),
 (['reviews_per_month', 'REVIEWS_PER_MONTH'], '0.21'),
 (['calculated_host_listings_count', 'CALCULATED_HOST_LISTINGS_COUNT'], '6'),
 (['availability_365', 'AVAILABILITY_365'], '365')]

### Formatting Data to a Readable Format

In [8]:
# Looping through first row of data, printing header and corresponding value on separate lines
for x in zipped_data[0]:
    print ('Header: {[1]}\nValue: {}'.format(x[0], x[1]))

Header: ID
Value: 2539
Header: NAME
Value: Clean & quiet apt home by the park
Header: HOST_ID
Value: 2787
Header: HOST_NAME
Value: John
Header: NEIGHBORHOOD_GROUP
Value: Brooklyn
Header: NEIGHBORHOOD
Value: Kensington
Header: LATITUDE
Value: 40.64749
Header: LONGITUDE
Value: -73.97237
Header: ROOM_TYPE
Value: Private room
Header: PRICE
Value: 149
Header: MINIMUM_NIGHTS
Value: 1
Header: NUMBER_OF_REVIEWS
Value: 9
Header: LAST_REVIEW
Value: 2018-10-19
Header: REVIEWS_PER_MONTH
Value: 0.21
Header: CALCULATED_HOST_LISTINGS_COUNT
Value: 6
Header: AVAILABILITY_365
Value: 365

### Identifying Outliers and Bad Data

#### Looking for missing values

In [9]:
# Checking for null values in original dataframe
nyc_airbnb_df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [10]:
# Empty dictionary to store NA values
na_count = {}

# Looping through zipped_data rows, checking for NA values
for row in zipped_data:
    for item in row:
        header = item[0][1] 
        value = item[1]
        if value in ["NA", "na", "n/a", "", None]:
            if header in na_count.keys(): 
                na_count[header] += 1 
            else:
                na_count[header] = 1 

print (na_count)

{'LAST_REVIEW': 10052, 'REVIEWS_PER_MONTH': 10052, 'HOST_NAME': 21, 'NAME': 16}

Using pandas and loops, we can confirm that the dataset contains missing values. Knowing that it is possible for Airbnb listings to have 0 reviews, with a matching value for reviews per month tells us that these are most likely not bad data. Name and host name on the other hand are columns that should have data, so removing these could be a good idea, but would need more research into those individual listings to determine the quality.

One example of dealing with missing values would be replacing some null values with 0. Since blank fields within the reviews per month column most likely mean there aren't any reviews for that listing, I could put 0 instead.

In [11]:
# Replacing null values in reviews per month with 0 
nyc_airbnb_df["reviews_per_month"].fillna(0, inplace = True)

In [12]:
# Previewing data after replacing null values
nyc_airbnb_df['reviews_per_month'].head()

0    0.21
1    0.38
2    0.00
3    4.64
4    0.10
Name: reviews_per_month, dtype: float64

#### Looking for Outliers

In [13]:
# Verifing that fields are the expected data type by looping through the data and storing results in a dictionary

datatypes = {} 

# Creating dictionary of different possible data types
start_dict = {'digit': 0, 'boolean': 0,
              'empty': 0, 'time_related': 0,
              'text': 0, 'unknown': 0
              } 

# Looping through data, performing initial type checks, storing values in corresponding type key
for row in zipped_data:
    for item in row:
        header = item[0][1]
        value = item[1]
        key = 'unknown' 
        if value.isdigit(): 
            key = 'digit'
        elif value in ['Yes', 'No', 'True', 'False']: 
            key = 'boolean'
        elif value.isspace(): 
            key = 'empty'
        elif value.find('/') > 0 or value.find(':') > 0: 
            key = 'time_related'
        elif value.isalpha(): 
            key = 'text'
        if header not in datatypes.keys(): 
            datatypes[header] = start_dict.copy() 
        datatypes[header][key] += 1 

print(datatypes)

{'ID': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}, 'NAME': {'digit': 4, 'boolean': 0, 'empty': 0, 'time_related': 5102, 'text': 186, 'unknown': 43603}, 'HOST_ID': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}, 'HOST_NAME': {'digit': 6, 'boolean': 0, 'empty': 0, 'time_related': 42, 'text': 44929, 'unknown': 3918}, 'NEIGHBORHOOD_GROUP': {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 48522, 'unknown': 373}, 'NEIGHBORHOOD': {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 20551, 'unknown': 28344}, 'LATITUDE': {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 48895}, 'LONGITUDE': {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 48895}, 'ROOM_TYPE': {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 25409, 'text': 0, 'unknown': 23486}, 'PRICE': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}, 'MINIMUM_NIGHTS': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}, 'NUMBER_OF_REVIEWS': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}, 'LAST_REVIEW': {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 48895}, 'REVIEWS_PER_MONTH': {'digit': 1558, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 47337}, 'CALCULATED_HOST_LISTINGS_COUNT': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}, 'AVAILABILITY_365': {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}}

In [14]:
# Printing datatypes results in an easier to read format
for key in datatypes:
    print ('Header: {}\nData Types: {}\n'.format(key, datatypes[key]))

Header: ID
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

Header: NAME
Data Types: {'digit': 4, 'boolean': 0, 'empty': 0, 'time_related': 5102, 'text': 186, 'unknown': 43603}

Header: HOST_ID
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

Header: HOST_NAME
Data Types: {'digit': 6, 'boolean': 0, 'empty': 0, 'time_related': 42, 'text': 44929, 'unknown': 3918}

Header: NEIGHBORHOOD_GROUP
Data Types: {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 48522, 'unknown': 373}

Header: NEIGHBORHOOD
Data Types: {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 20551, 'unknown': 28344}

Header: LATITUDE
Data Types: {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 48895}

Header: LONGITUDE
Data Types: {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 48895}

Header: ROOM_TYPE
Data Types: {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 25409, 'text': 0, 'unknown': 23486}

Header: PRICE
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

Header: MINIMUM_NIGHTS
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

Header: NUMBER_OF_REVIEWS
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

Header: LAST_REVIEW
Data Types: {'digit': 0, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 48895}

Header: REVIEWS_PER_MONTH
Data Types: {'digit': 1558, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 47337}

Header: CALCULATED_HOST_LISTINGS_COUNT
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

Header: AVAILABILITY_365
Data Types: {'digit': 48895, 'boolean': 0, 'empty': 0, 'time_related': 0, 'text': 0, 'unknown': 0}

From these results, we can see that certain values might need to be checked, such as latitude, longitude, reviews per month, and names of places. If we needed to run statistical tests using reviews per month for instance, we would need to make sure the values grouped under 'unknown' are recognized as numbers, or replaced.

### Finding Duplicates

In [16]:
# Selecting duplicate rows based on 'name' & 'host_id' columns using Pandas
nyc_df_duplicates_2 = nyc_airbnb_df[nyc_airbnb_df.duplicated(['name', 'host_id'])]
print("Duplicate rows based on 'name' & 'host_id' columns: ", nyc_df_duplicates_2, sep='\n')

Duplicate rows based on 'name' & 'host_id' columns:
             id                                               name    host_id  \
330       81739                  Loft w/ Terrace @ Box House Hotel     417504
339       84010                               Superior @ Box House     417504
580      219818                 ✿✿✿ COUNTRY COTTAGE IN THE CITY✿✿✿    1138692
661      250537                                The Lenox in Harlem    1313306
669      253471                   Loft Suite @ The Box House Hotel     417504
670      253475                   Loft Suite @ The Box House Hotel     417504
674      253800                       Loft Suite @ Box House Hotel     417504
675      253803                   Loft Suite @ The Box House Hotel     417504
676      253806                   Loft Suite @ The Box House Hotel     417504
677      253811                   Loft Suite @ The Box House Hotel     417504
678      253815                   Loft Suite @ The Box House Hotel     417504
679      253828                Duplex w/ Terrace @ Box House Hotel     417504
680      253839                  Loft w/ Terrace @ Box House Hotel     417504
682      253846                               Superior @ Box House     417504
827      294227                   Loft Suite @ The Box House Hotel     417504
829      294242                   Loft Suite @ The Box House Hotel     417504
831      294259                       Loft Suite @ Box House Hotel     417504
832      294263                   Loft Suite @ The Box House Hotel     417504
833      294280                   Loft Suite @ The Box House Hotel     417504
836      294490                       Loft Suite @ Box House Hotel     417504
1098     464231                     Large Room w/ Private Entrance    1530310
1772     798008                Hancock Town House!-Stuyvesant Mews     758441
2564    1330056                Spacious Loft 5 min to Union Square     124357
3581    2138787                    HARLEM, NEW YORK WELCOMES YOU!!      68428
5243    3791244                       west village 1BR!best value!    2119276
5903    4303600  Luminous Modern Apt Share for Young Professionals    2822805
8176    6303845  Luminous Modern Apt Share for Young Professionals    2822805
8177    6304002  Luminous Modern Apt Share for Young Professionals    2822805
9057    6947477                    Private room. Amazing location!   35968845
9218    7050316                      Best Location near Columbia U   36818817
...         ...                                                ...        ...
45413  34737337                        步行9分钟到法拉盛缅街中心的电梯房,提供免费矿泉水可乐  151810361
45461  34771161                        步行9分钟到法拉盛缅街中心的电梯房,提供免费矿泉水可乐  151810361
45663  34895344       West 55th street, Lux 1bd Serviced Apartment   22541573
45743  34936509          NEAR 5th AVE RENOVATED STUDIO IN BROOKLYN  188212054
45958  35005936             Intimate 1BR in Midtown East by Sonder  219517861
46025  35035202   Bronx, Little Italy, Arthur Ave, Fordham, Yanks.  256683560
46185  35136809  PRIVATE, NEWLY RENOVATED BEDROOM, 10 MINS FROM...  107915864
46237  35162306  Private Sunny Room in Williamsburg, Brooklyn - NY   30054890
46418  35236345          Cozy house in Woodside, comfortable are!!  200239515
46478  35267137      Close to Manhattan! Comfortable area to stay♪  200239515
46502  35281731                             Brooklyn Heights Oasis  106436589
46769  35425034                   Stylish studio by Fulton station  107724585
46826  35460924         Artsy Private BR in Fort Greene Cumberland  230192510
46828  35461013         Artsy Private BR in Fort Greene Cumberland  230192510
46832  35461373         Artsy Private BR in Fort Greene Cumberland  230192510
46833  35461466         Artsy Private BR in Fort Greene Cumberland  230192510
46834  35461527         Artsy Private BR in Fort Greene Cumberland  230192510
46835  35461620         Artsy Private BR in Fort Greene Cumberland  230192510
46836  35461700         Artsy Private BR in Fort Greene Cumberland  230192510
46838  35461822         Artsy Private BR in Fort Greene Cumberland  230192510
46840  35461960         Artsy Private BR in Fort Greene Cumberland  230192510
46843  35462273        Modern Private BR in Fort Greene Cumberland  230192510
46846  35463471     West 15th Street Cozy Chelsea 1bd Serviced Apt   22541573
46924  35490967  WEST VILLAGE Bohemian flat in neo-Tudor town h...   27636707
47456  35741268  Studio at Hilton Club Residence - Manhattan's ...    6524762
47876  35966653             Bright, contemporary and best location   24232061
48026  36039574                 ★Premier Queen Room with Balcony ★  270874051
48207  36139806  30 mins to Times Square!! 15 mins LGA, 25mins ...  260209224
48662  36372006  Very Clean Private Room Near Buses & Restauran...  118405437
48684  36382847                                       Comfort home  266211707

                 host_name neighbourhood_group        neighbourhood  latitude  \
330    The Box House Hotel            Brooklyn           Greenpoint  40.73842
339    The Box House Hotel            Brooklyn           Greenpoint  40.73813
580           Keera (Jena)           Manhattan      Lower East Side  40.71892
661                 Yvette           Manhattan               Harlem  40.81122
669    The Box House Hotel            Brooklyn           Greenpoint  40.73641
670    The Box House Hotel            Brooklyn           Greenpoint  40.73794
674    The Box House Hotel            Brooklyn           Greenpoint  40.73730
675    The Box House Hotel            Brooklyn           Greenpoint  40.73708
676    The Box House Hotel            Brooklyn           Greenpoint  40.73652
677    The Box House Hotel            Brooklyn           Greenpoint  40.73693
678    The Box House Hotel            Brooklyn           Greenpoint  40.73784
679    The Box House Hotel            Brooklyn           Greenpoint  40.73674
680    The Box House Hotel            Brooklyn           Greenpoint  40.73783
682    The Box House Hotel            Brooklyn           Greenpoint  40.73731
827    The Box House Hotel            Brooklyn           Greenpoint  40.73683
829    The Box House Hotel            Brooklyn           Greenpoint  40.73890
831    The Box House Hotel            Brooklyn           Greenpoint  40.73806
832    The Box House Hotel            Brooklyn           Greenpoint  40.73661
833    The Box House Hotel            Brooklyn           Greenpoint  40.73857
836    The Box House Hotel            Brooklyn           Greenpoint  40.73857
1098               Jacques            Brooklyn   Bedford-Stuyvesant  40.68905
1772                  Fred            Brooklyn   Bedford-Stuyvesant  40.68561
2564                  Alex            Brooklyn         Williamsburg  40.71571
3581       Tye And Etienne           Manhattan   Washington Heights  40.83191
5243                  Host           Manhattan         West Village  40.73254
5903                 Ollie            Brooklyn   Bedford-Stuyvesant  40.68531
8176                 Ollie            Brooklyn   Bedford-Stuyvesant  40.68634
8177                 Ollie            Brooklyn   Bedford-Stuyvesant  40.68563
9057                 Andre           Manhattan      Upper West Side  40.79265
9218                 Mifan           Manhattan  Morningside Heights  40.80460
...                    ...                 ...                  ...       ...
45413              Jungyen              Queens             Flushing  40.76187
45461              Jungyen              Queens             Flushing  40.76268
45663                  Ken           Manhattan       Hell's Kitchen  40.76957
45743               Joanna            Brooklyn            Bay Ridge  40.62061
45958         Sonder (NYC)           Manhattan          Murray Hill  40.74451
46025                Jorge               Bronx              Belmont  40.85539
46185                 Mina              Queens         Howard Beach  40.66635
46237                 Gary            Brooklyn         Williamsburg  40.70706
46418                Shogo              Queens             Woodside  40.74239
46478                Shogo              Queens            Sunnyside  40.73872
46502                Wendy            Brooklyn     Brooklyn Heights  40.69852
46769               Jessie           Manhattan   Financial District  40.71035
46826                 Zach            Brooklyn          Fort Greene  40.69611
46828                 Zach            Brooklyn          Fort Greene  40.69747
46832                 Zach            Brooklyn          Fort Greene  40.69617
46833                 Zach            Brooklyn          Fort Greene  40.69749
46834                 Zach            Brooklyn          Fort Greene  40.69634
46835                 Zach            Brooklyn          Fort Greene  40.69710
46836                 Zach            Brooklyn          Fort Greene  40.69774
46838                 Zach            Brooklyn          Fort Greene  40.69706
46840                 Zach            Brooklyn          Fort Greene  40.69633
46843                 Zach            Brooklyn          Fort Greene  40.69706
46846                  Ken           Manhattan         West Village  40.74000
46924          Gaia&Pietro           Manhattan         West Village  40.73325
47456            Armstrong           Manhattan              Midtown  40.76218
47876                Tracy           Manhattan      Upper East Side  40.77297
48026        Hotel Vetiver              Queens     Long Island City  40.75300
48207                Lotay              Queens      Jackson Heights  40.75077
48662               PengYu              Queens            Woodhaven  40.69411
48684                  Yan            Brooklyn          Sunset Park  40.64439

       longitude        room_type  price  minimum_nights  number_of_reviews  \
330    -73.95312     Private room    249               3                  2
339    -73.95394     Private room    179               3                 13
580    -73.98401  Entire home/apt    199               1                 14
661    -73.94279  Entire home/apt    400               5                  0
669    -73.95330  Entire home/apt    199               3                 24
670    -73.95254  Entire home/apt    199               3                 59
674    -73.95323  Entire home/apt    199               3                 24
675    -73.95271  Entire home/apt    199               3                 23
676    -73.95236  Entire home/apt    199               3                 43
677    -73.95316  Entire home/apt    199               3                 30
678    -73.95324  Entire home/apt    199               3                 39
679    -73.95247     Private room    349               3                  8
680    -73.95259     Private room    249               3                  3
682    -73.95450     Private room    179               3                  4
827    -73.95430  Entire home/apt    199               3                 43
829    -73.95395  Entire home/apt    199               3                 75
831    -73.95462  Entire home/apt    199               3                 73
832    -73.95479  Entire home/apt    199               3                 89
833    -73.95435  Entire home/apt    199               3                 23
836    -73.95299  Entire home/apt    199               3                 54
1098   -73.95410     Private room     65               7                  2
1772   -73.92029     Private room    165               1                  0
2564   -73.95813     Private room     90               1                115
3581   -73.94110     Private room     62               2                  4
5243   -74.00698  Entire home/apt    170              30                 12
5903   -73.95185     Private room     60              30                 44
8176   -73.95112     Private room     60              30                 26
8177   -73.94953     Private room     60              30                 23
9057   -73.97108     Private room     89               1                  1
9218   -73.96545     Private room     50               1                  1
...          ...              ...    ...             ...                ...
45413  -73.82169     Private room     69               1                  9
45461  -73.82252     Private room     99               1                 10
45663  -73.99292  Entire home/apt    229              30                  0
45743  -74.02331  Entire home/apt    245               3                  2
45958  -73.97270  Entire home/apt    162              29                  0
46025  -73.88769     Private room     69               1                  3
46185  -73.85258     Private room     49               1                  3
46237  -73.95048     Private room     60               3                  2
46418  -73.89454     Private room     35              29                  0
46478  -73.92696     Private room     37              30                  0
46502  -73.99606  Entire home/apt    399              14                  0
46769  -74.00734  Entire home/apt    185              30                  0
46826  -73.97542     Private room     48              30                  0
46828  -73.97506     Private room     48              30                  0
46832  -73.97532     Private room     48              30                  0
46833  -73.97551     Private room     48              30                  0
46834  -73.97393     Private room     48              30                  0
46835  -73.97523     Private room     48              30                  0
46836  -73.97502     Private room     48              30                  0
46838  -73.97400     Private room     48              30                  0
46840  -73.97361     Private room     48              30                  0
46843  -73.97498     Private room     48              30                  0
46846  -74.00400  Entire home/apt    209              30                  0
46924  -74.00583  Entire home/apt    200               3                  0
47456  -73.98002  Entire home/apt    380               2                  0
47876  -73.95530     Private room    122              10                  0
48026  -73.93485     Private room     99               1                  0
48207  -73.87020  Entire home/apt     67               2                  0
48662  -73.86877     Private room     66               1                  0
48684  -74.01816     Private room    185               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
330    2011-05-12               0.02                              28
339    2019-06-27               0.14                              28
580    2015-07-20               0.15                               2
661           NaT               0.00                               2
669    2018-11-06               0.32                              28
670    2019-06-24               0.66                              28
674    2019-04-25               0.26                              28
675    2019-06-22               0.26                              28
676    2019-07-02               0.47                              28
677    2019-07-03               0.32                              28
678    2019-06-29               0.44                              28
679    2018-07-26               0.09                              28
680    2015-11-03               0.03                              28
682    2015-12-04               0.05                              28
827    2019-06-22               0.49                              28
829    2019-06-05               0.93                              28
831    2019-06-30               0.84                              28
832    2019-07-01               1.06                              28
833    2019-04-23               0.26                              28
836    2019-06-10               0.61                              28
1098   2012-05-29               0.02                               3
1772          NaT               0.00                               4
2564   2019-05-21               1.63                               3
3581   2019-04-01               0.19                               2
5243   2018-08-12               0.22                              39
5903   2019-05-19               0.78                               8
8176   2019-06-06               0.52                               8
8177   2019-03-29               0.48                               8
9057   2015-07-19               0.02                               2
9218   2015-07-06               0.02                               2
...           ...                ...                             ...
45413  2019-06-28               4.91                               6
45461  2019-07-01               5.77                               6
45663         NaT               0.00                              87
45743  2019-06-27               2.00                               2
45958         NaT               0.00                             327
46025  2019-06-30               3.00                               2
46185  2019-07-06               2.14                               4
46237  2019-06-29               2.00                               2
46418         NaT               0.00                              15
46478         NaT               0.00                              15
46502         NaT               0.00                               2
46769         NaT               0.00                               2
46826         NaT               0.00                              25
46828         NaT               0.00                              25
46832         NaT               0.00                              25
46833         NaT               0.00                              25
46834         NaT               0.00                              25
46835         NaT               0.00                              25
46836         NaT               0.00                              25
46838         NaT               0.00                              25
46840         NaT               0.00                              25
46843         NaT               0.00                              25
46846         NaT               0.00                              87
46924         NaT               0.00                               5
47456         NaT               0.00                               3
47876         NaT               0.00                               3
48026         NaT               0.00                               8
48207         NaT               0.00                               3
48662         NaT               0.00                               2
48684         NaT               0.00                               2

       availability_365
330                  60
339                  81
580                 158
661                 365
669                  84
670                  60
674                  60
675                  60
676                  60
677                  56
678                  84
679                  58
680                  60
682                  81
827                  84
829                  84
831                  56
832                  62
833                  81
836                  60
1098                  0
1772                  0
2564                359
3581                336
5243                252
5903                 99
8176                236
8177                244
9057                  0
9218                  0
...                 ...
45413               365
45461               365
45663               115
45743               255
45958               341
46025               359
46185               329
46237                 0
46418                 5
46478                38
46502                67
46769               346
46826               333
46828               310
46832               341
46833               257
46834               342
46835               305
46836               341
46838                67

Although there seem to be a lot of duplicate listings using the name and host id columns, I would hesitate to remove these duplicates because it could be possible that the same host owns multiple properties with the same name. In order to determine which listings to remove, I could try matching up more than these two columns.

### Fuzzy Matching

In [17]:
# Converting listing names column to a list
names_list = nyc_airbnb_df['name'].tolist()

In [18]:
# Creating a subset containing only the first twenty listing names
first_twenty_names = names_list[0:20]

# Previewing first twenty names
for item in first_twenty_names:
    print (item)

Clean & quiet apt home by the park
Skylit Midtown Castle
THE VILLAGE OF HARLEM....NEW YORK !
Cozy Entire Floor of Brownstone
Entire Apt: Spacious Studio/Loft by central park
Large Cozy 1 BR Apartment In Midtown East
BlissArtsSpace!
Large Furnished Room Near B'way
Cozy Clean Guest Room - Family Apt
Cute & Cozy Lower East Side 1 bdrm
Beautiful 1br on Upper West Side
Central Manhattan/near Broadway
Lovely Room 1, Garden, Best Area, Legal rental
Wonderful Guest Bedroom in Manhattan for SINGLES
West Village Nest - Superhost
Only 2 stops to Manhattan studio
Perfect for Your Parents + Garden
Chelsea Perfect
Hip Historic Brownstone Apartment with Backyard
Huge 2 BR Upper East  Cental Park

In [19]:
from fuzzywuzzy import process

# Comparing string 'Cozy Apartment' with first twenty listing names using extract, returns two possible matches
process.extract('Cozy Apartment', first_twenty_names, limit=2)

[('Cozy Entire Floor of Brownstone', 86),
 ('Large Cozy 1 BR Apartment In Midtown East', 86)]

In [20]:
# Finding only the best match using the extractOne method
process.extractOne('Cozy Apartment', first_twenty_names)

('Cozy Entire Floor of Brownstone', 86)

In [21]:
# Comparing string 'Park' with first twenty listing names using extract, returns two possible matches
process.extract('Park', first_twenty_names, limit=2)

[('Clean & quiet apt home by the park', 60),
 ('Entire Apt: Spacious Studio/Loft by central park', 60)]

In [22]:
# Finding only the best match using the extractOne method
process.extractOne('Park', first_twenty_names)

('Clean & quiet apt home by the park', 60)

Using fuzzywuzzy's `process` module, we can `extract` results from our list of names that are similar to the chosen string. Our output returns tuples containing potential matches with the similarity ratios, so we can then compare how similar or different the matches are. The `extractOne` function finds only the best match, which can be useful when you're only interested in the top result.